<div>
	<table class="change-log">
		<!-- headerrow -->
		<tr>
			<th>
				Player Name
			</th>
			<th>
				When
			</th>
			<th>
				Changes (key, old value, new value)
			</th>
			{{#each log as |row|}}
			<tr>
				<td>
					{{row.userName}}
				</td>
				<td>
					{{row.humanReadableTime}}
				</td>
				<td>
					{{> "modules/gm-paranoia-taragnor/hbs/changelog-subtable.hbs" changes=row.changes }}
				</td>
			</tr>
			{{/each}}

</table>
<div>
