<form>
	<div class="prompt title">
		{{localize "TaragnorSecurity.encryption.keyPrompt.label"}}
	</div>
	<div class="keyprompt-message">
		{{localize "TaragnorSecurity.encryption.keyPrompt.message" }}
	</div>
	<input class="key-entry" type="text">
	</input>
</form>
